<body>
    <div class="body">
        <header>
            <div>
                <img src="{{ "/images/profile.jpg" | absURL }}">
            </div>
            <div>
                <h1>luke segars</h1>
                <h2>{{ markdownify .Site.Params.Description }}</h2>   
                <ul class="social">
                    <li>
                        <a href="https://www.linkedin.com/in/lukesegars"><i class="fab fa-linkedin"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/anyweez"><i class="fab fa-github-square"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/anyweez"><i class="fab fa-twitter-square"></i></a>
                    </li>
                    <li>
                        <a href="https://stackoverflow.com/users/1527421/salis"><i class="fab fa-stack-overflow"></i></a>
                    </li>
                </ul>   
            </div>
                      
        </header>
